@import './_variable.scss';

.App{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    background-color: white;
    img{
        width: 100%;
    }
    color: $darkblue;
    input[type=text],textarea {
        border:2px solid #e2e2e2;
        outline:0;
        padding: 1.2rem 1rem;
    }
    input[type=text]:focus, textarea:focus {
        outline:none!important;
        box-shadow: none !important;
        border:2px solid $blue;
    }
    .title {
        font-size: 1.8rem;
        font-weight: 700;
        margin: 0;
        color: $darkblue;

    }
}
.header__{
    display: flex;
    padding: .8rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    .logo{
        display: flex;
        align-items: center;
        img{
            width: 75px;
            margin-right: .2rem;
        }
        label{
            font-family: 'Lexend', sans-serif;
            font-weight: 700;
            font-size: 2rem;
            color: $blue;
        }
    }
    .account{
        display: flex;
        align-items: center;
        .profile-pic{
            width: 50px;
            height: 50px;
            background-color: $blue;
            margin-right: .5rem;
            border-radius: 25px;
        }
        .text_{
            display: flex;
            flex-direction: column;
            font-size: .8rem;
            font-weight: 500;
            color: $gray;
            .name{
                font-size: 1rem;
                font-weight: 700;
                color: $darkblue;
            }
        }
        .icon {
            font-size: 1.35rem;
            &.g {
                color: $gray;
                font-size: 1.2rem;
            }
        }
    }
}

.content {
    width: 100vw;
    display: flex;
    height: calc(100vh - 100.59px);
    .navbar-left {
        flex: 1 1 20%;
        background-color: $blue;
        border-top-right-radius: 5rem;
        .btn-add {
            background-color: white;
            text-align: center;
            font-size: 1rem;
            font-weight: 700;
            color: $blue;
            padding: 0.8rem;
            margin-left: 13%;
            text-align: center;
            width: 70%;
            border-radius: 100px;
            margin-top: 40px;
        }
        .navbar-text {
            display: flex;
            align-items: center;
            color: white;
            font-weight: 600;
            font-size: 1.1rem;
            margin-left: 13%;
            padding-bottom: 28px;
            &.active {
                color: $lightblue;
            }
            img {
                width: 28px;
                height:28px;
                margin-right: 0.8rem;
            }
        }
    }
    &-right {
        flex: 1 1 80%;
        height: 100%;
        overflow: hidden;
    }
}

.cosmetic-content {
    .fa-list-ul {
        font-size: 1.8rem;
    }
    .scorll {
        height: 100%;
        height: calc(100% - 210.55px);
    }
    .card-body {
        height: 100%;
        overflow: scroll;
        .box {
            height: 50px;
        }
    }
    .card-title {
        --animate-delay: 0.5s;
    }
    .table-cosmetic {
        border: none;
        thead {
            background-color: white;
            color: $gray;
            font-size: 0.8rem;
            font-weight: 700;
            height: 50px;
            tr {
                border-color: transparent;
            }
            td {
                vertical-align:middle;
                padding-top: 0;
            }
        }
        tbody {
            tr {
                border-width: 0 !important;
                color: $darkblue;
                font-size: 0.95rem;
                font-weight: 600;
                border-color: transparent;
                td {
                    padding: 0.8rem 10px;
                    vertical-align:middle;
                    img {
                        max-width: 45px;
                    }
                    &.name {
                        color: $gray;
                    }
                    .cate {
                        // background-color: #282c34;
                        // color: aliceblue;
                        width: 6.5rem;
                        font-size: 0.7rem;
                        font-weight: 700;
                        padding: .3rem 0;
                        display: flex;
                        color: white;
                        justify-content: center;
                        border-radius: 100px;
                        margin: 0 auto;
                        &.eyeshadow {
                            background-color: #85a9ff;
                        }
                        &.blush {
                            background-color: #4E82FF;
                        }
                        &.lip {
                            background-color: #3C3D89;
                        }
    
                    }
                    .icon {
                        font-size: 1.4rem;
                        &.check {
                            color: #23D34B;
                        }
                        &.uncheck {
                            color: red;
                        }
                        &.trash {
                            color: $darkblue;
                        }
                    }
                }
            }
        }
    }
}

.create-cosmetic {
    height: 100%;
    overflow: scroll;
    &-card {
        margin: 0 9rem;
        border: none !important;
        // background-color: $white !important;
        // padding: 2rem;
        font-size: 0.8rem;
        font-weight: 700;
        color: #9d9d9d;
        border-radius: 2rem !important;
    }
    p {
        padding: 0 10rem;
    }
    .tryon {
        border-radius: 1000px;
    }
    .form-switch {
        .form-check-input {
            height: 2.2rem;
            width: 4.2rem !important;
            border:2px solid #c5c2c2;
            &:focus {
                outline:none!important;
                box-shadow: none !important;
            }
        
        }

    }
    .input-cos-img {
        display: none;
        height: 0px;
        line-height: 0;
    }
    .preview-images {
        .color-img {
            height: 4rem;
            width: 4rem;
            border-radius: 1000px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    .btn-color-img {
        font-size: 2rem;
        height: 4rem;
        width: 4rem;
        border-radius: 1000px;
        display: flex;
        justify-content: center;
        margin: 0;
    }

}

.total-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $lightbackg;
    padding: 1rem 0;
    border-radius: 2rem;
    max-width: 40%;
    width: 100%;
    .title {
        font-size: 0.9rem;
        font-weight: 700;
        color: $blue;
        border-left:  5px solid $blue;
        padding-left: 1rem;
        .fa-newspaper {
            color: $blue;
            font-size: 1.5rem;
        }
    }
    p {
        font-size: 4rem;
        font-weight: 600;
        color: $blue;
        margin-bottom: 0;
    }
}



.App {
    //text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .btn{
    margin: 2px;;
  }
  
  .divbtn{
    float: left;
  }
  
  .form-field {
    flex: 2;
  }
  
  .output {
    margin-left: 3rem;
    flex: 1;
  }
  
  .form-field label,
  h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: rgb(84, 84, 84);
  }
  
  input {
    height: 35px;
    width: 100%;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
  }
  
  input:focus {
    border: 1px solid rgb(0, 208, 255);
  }
  
  .services {
    display: flex;
    justify-content: space-between;
  }
  
  .first-division {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  button {
    background: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2px;
    padding: 5px 10px;
  }
  
  .first-division button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: rgb(9, 19, 106);
    border: 1px solid rgb(0, 0, 0);
  }
  
  .second-division button {
    color: red;
    border: 1px solid red;
  }
  
  
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: $blue;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

//   .eyeshadow {
//     color: #23D34B;
//     background-color: #61dafb;
// }