html, body {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  background-color: #F9F9F9;
  color: #0B1F4F; }
  html img, body img {
    width: 100%; }

.header__ {
  display: flex;
  padding: .8rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100vw; }
  .header__ .logo {
    display: flex;
    align-items: center; }
    .header__ .logo img {
      width: 75px;
      margin-right: .2rem; }
    .header__ .logo label {
      font-family: 'Lexend', sans-serif;
      font-weight: 700;
      font-size: 1.8rem;
      color: #3461BF; }
  .header__ .account {
    display: flex;
    align-items: center; }
    .header__ .account .profile-pic {
      width: 50px;
      height: 50px;
      background-color: #3461BF;
      margin-right: .5rem;
      border-radius: 25px; }
    .header__ .account .text_ {
      display: flex;
      flex-direction: column;
      font-size: .7rem;
      font-weight: 500;
      color: #A2ACBC; }
      .header__ .account .text_ .name {
        font-size: 0.85rem;
        font-weight: 700;
        color: #0B1F4F; }
    .header__ .account .icon {
      font-size: 1.35rem; }
      .header__ .account .icon.g {
        color: #A2ACBC;
        font-size: 1.2rem; }

.content {
  width: 100vw;
  display: flex;
  height: calc(100vh); }
  .content .navbar-left {
    flex: 1 1 25%;
    background-color: #3461BF;
    border-top-right-radius: 7rem; }
    .content .navbar-left .btn-add {
      background-color: white;
      font-size: 0.8rem;
      font-weight: 700;
      color: #3461BF;
      padding: 0.5rem;
      margin: 1rem;
      text-align: center;
      width: 60%;
      border-radius: 100px;
      margin-top: 40px; }
  .content-right {
    flex: 1 1 75%; }

.table-cosmetic {
  border: none; }
  .table-cosmetic thead {
    background-color: white;
    color: #A2ACBC;
    font-size: 0.8rem;
    font-weight: 700; }
    .table-cosmetic thead tr {
      border-color: transparent; }
  .table-cosmetic tbody tr {
    border-width: 0 !important;
    color: #0B1F4F;
    font-size: 0.8rem;
    font-weight: 600;
    border-color: transparent; }
    .table-cosmetic tbody tr td {
      padding: 0.8rem 10px; }
      .table-cosmetic tbody tr td img {
        max-width: 45px; }
      .table-cosmetic tbody tr td.name {
        color: #A2ACBC; }
      .table-cosmetic tbody tr td .cate {
        width: 90%;
        font-size: 0.65rem;
        font-weight: 600;
        padding: .3rem 0;
        display: flex;
        justify-content: center;
        border-radius: 100px; }
        .table-cosmetic tbody tr td .cate.eyeshadow {
          color: #3a2fd9;
          background-color: #c1bef2; }
        .table-cosmetic tbody tr td .cate.blush {
          color: #1e48bb;
          background-color: #a8bef8; }
      .table-cosmetic tbody tr td .icon {
        font-size: 1.2rem; }
        .table-cosmetic tbody tr td .icon.check {
          color: #23D34B; }
        .table-cosmetic tbody tr td .icon.uncheck {
          color: red; }

.App-logo {
  height: 40vmin;
  pointer-events: none; }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; } }

.btn {
  margin: 2px; }

.divbtn {
  float: left; }

.form-field {
  flex: 2; }

.output {
  margin-left: 3rem;
  flex: 1; }

.form-field label,
h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #545454; }

input {
  height: 35px;
  width: 100%;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid gainsboro; }

input:focus {
  border: 1px solid #00d0ff; }

.services {
  display: flex;
  justify-content: space-between; }

.first-division {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0.5rem 0;
  width: 100%; }

button {
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 10px; }

.first-division button {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: #09136a;
  border: 1px solid black; }

.second-division button {
  color: red;
  border: 1px solid red; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
